@model IEnumerable<SisMed.WebUI.ViewModel.ConsultaViewModel>

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h3>SiMed - Gerenciamento de consultas médicas online</h3>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>@(HttpContext.Current.User.IsInRole("MEDICO") ? "Meus atendimentos" : "Minhas Consultas")</h4>
        <input type="button" class="btn btn-primary pull-right" value="Nova Consulta" onclick="location.href=' @Url.Action("Create", "Consulta" ) '" />
        <table class="table">
            <tr>
                <th>Data</th>
                <th>Horário Início</th>
                <th>@(HttpContext.Current.User.IsInRole("MEDICO") ? "Paciente" : "Médico")</th>
                <th>Tipo</th>
                <th>Observação</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Data))
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:HH:mm}", item.HorarioInicio))
                    </td>
                    <td>
                        @(HttpContext.Current.User.IsInRole("MEDICO") ? @Html.DisplayFor(modelItem => item.Usuario.Email) : @Html.DisplayFor(modelItem => item.Medico.Nome))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoConsulta.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    <td>
                        @Html.ActionLink("Detalhes", "Details", "Consulta", new { id = item.Id }, null) |
                        @Html.ActionLink("Cancelar", "Delete", "Consulta", new { id = item.Id }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>