@model IEnumerable<SisMed.Domain.Entities.Medico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "Create", "" ,new { @class = "btn btn-primary" } )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidade)
        </th>
        <th>
            @Html.DisplayName("Horário inicial")
        </th>
        <th>
            @Html.DisplayName("Horário final")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade.NomeCidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidade.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioInicial.TimeOfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioFinal.TimeOfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <span class="pull-right"><a href="@Url.Action("Edit", new { id = item.Id })"> <span class="glyphicon glyphicon-pencil"></span></a></span>
        </td>
        <td>
            <span class="pull-right"><a href="@Url.Action("Details", new { id = item.Id })"> <span class="glyphicon glyphicon-eye-open"></span></a></span>
            
        </td>
        <td>
            <span><a href="@Url.Action("Delete", new { id = item.Id })"> <span class="glyphicon glyphicon-trash"></span></a></span>
        </td>
    </tr>
}

</table>
