@model IEnumerable<SisMed.WebUI.ViewModel.TempoConsultaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Tempo de consulta</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoConsulta.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoMedio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoConsulta.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempoMedio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
