@model SisMed.WebUI.ViewModel.ConsultaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConsultaViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoConsulta.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index", "Home")
</p>
